<!-- <h2>This question and answer site is an ember app written for my Epicodus education program. This is my second app using ember and likely my last while I am still in school, though I look forward to learning Ember CLI in my free time. I don't hate ember as much as I thought I would after two days of pulling my hair out. Luckily it all started to click on day 3, as I was getting close to needing a shave to hide the bald spots.</h2> -->

<!-- {{#if isPictureShowing}}
<button class="btn btn-info" {{action 'hidePicture'}}>Way too kinky for me, hide it!</button>
<p><img
  src="css/funny.jpg"></p>
  {{else}}
    <button class="btn btn-info" {{action 'showPicture'}}>Click here to see a picture</button>
  {{/if}} -->
